@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


/* Reset some default styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    /* height: 100%;
    width:100%; */
    box-sizing: border-box;
}

/* General styling */
body {
    font-family: Arial, sans-serif;
    background-color: rgba(220, 200, 182);
    color: white;
    font-size: 2vw;
    margin: 0;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color:rgb(12,12,12,0.3);
    background-position:center;
    background-repeat: no-repeat;
}

.left-side {
    flex: 1;
    padding: 20px;
}

.left-side h1 {
    font-size: 36px;
    margin: 0;
    color: #011d3a;
    font-size: 500%;
    font-style:normal;
    font-family: 'Dancing Script', cursive;
    font-weight:5;
}

.left-side h2{
    font-family:Arial, Helvetica, sans-serif;
    color:white ;
}

.left-side p {
    font-family:serif;
    font-size:100%;
    font-size: 18px;
    margin-top: 10px;
    color:white ;
}

.view-menu-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #011d3a;
    color: #fff;
    text-decoration: none;
    font-size: 100%;
    border-radius: 5px;
    margin-top: 20px;
}

/* .view-menu-button:hover {
    background-color: #0056b3;
} */

.right-side {
    flex: 1;
    position:relative;
    padding: 20px;
}

.large-image {
    float: right;
    width:35vw;
    height: 80vh;
}   

.small-image {
    float: right;
    width: 27vw;
    height: 50vh;
    position: absolute;
    top: 20vh;
    right:45%;
    z-index: 2;
}

/* 
.shop-name {
    color: #011d3a;
    font-size: 500%;
    font-style:normal;
    font-family: 'Dancing Script', cursive;
    font-weight:5;
} */

.bakery-items {
    background-color:rgb(12,12,12,0.3);
    padding: 35px;
    margin: 3%;
    text-align: center;
}

.bakery-items h2 {
    font-size: 170%;
    font-family:Arial, Helvetica, sans-serif;
    color: #011d3a;
    margin-bottom: 10px;
}

.bakery-items p {
    font-size: 100%;
    font-family: serif;
    color: white;
    margin: 0px;
}

.item-container {
    margin: 20px;
    padding-bottom: 20px;;
    border: 2px solid #011d3a;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(250px, 1fr));
    column-gap: 40px;
    justify-items: center;
    font-size: 100%;
    font-weight: lighter;
    color: #011d3a;
    font-weight: bold;
}


.item img {
    margin:15px 10px 3px 10px;
    background-color: white;
    border: 2px solid #011d3a;
    padding: 10px;
    text-align: center;
    max-width: 100%;
    height: auto;
    height:75%;
    width:90%;
}


.item-name {
    border: none;
    height: 2px;
    margin-bottom: -5%
}
.item-price {
    border: none;
    height: 2px;
    margin-top: 5px;
    margin-bottom:-3%;
}


.bakery-section {
    background-color:rgb(12,12,12,0.3);
    padding: 35px;
    margin: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.left-section, .right-section {
    flex: 1;
    padding: 20px;
}

.left-section h2, .right-section h2 {
    margin:15px 10px 3px 10px;
    font-size: 170%;
    color: #011d3a;
    margin-bottom: 10px;
    size:100%;
    margin-left: 30%;
}

.left-section img, .right-section img {
    margin:15px 10px 3px 10px;
    background-color: white;
    border: 2px solid #011d3a;
    padding: 5px;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.left-section p, .right-section p {
    margin:15px 10px 3px 10px;
    font-size: 18px;
    color:white;
}
.customer-feedback{
    background-color:rgb(12,12,12,0.3);
    padding: 35px;
    margin: 3%;
    text-align: center;
}

.customer-feedback h2{
    font-size: 170%;
    color: #011d3a;
}

.feedback-container{
    margin: 20px;
    padding-bottom: 20px;;
    border: 2px solid #011d3a;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 25px;
    justify-items: center;
    font-size: 100%;
    font-weight: lighter;
    color: #011d3a;
    font-weight: bold;
}

.feedback{
    margin:15px 10px 3px 10px;
    border: 1.5px solid #011d3a;
    padding: 0px;
    text-align: center;
    max-width: 100%;
    height: auto;
    height:95%;
    width:95%;
}

.feedback h3{
    color: #011d3a;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.feedback p{
    color: white;
    text-align: center;
    font-family: serif;
    font-size: 80%;
    height:90%;
    width:90%;
    margin-top:-3%;
    margin-left: 5%;
    margin-right: 0%;
    padding-right: 0%;
}

footer {
    background-color: rgba(12, 12, 12, 0.3);
    padding: 20px;
    text-align: center;
    font-size: 125%;
}
.social-icons {
    top: 10px;
    left: 10px;
    bottom: 10px;
}
.social-icons img{
    width:3.5% ;
}

.footer-link {
    display:inline-block;
    /* margin-right: 20px; */
    color: #011d3a;
    font-weight: bold;
}

.footer-link a {
    text-decoration: none;
    color: #011d3a;
    font-size:90%
}

.footer-link img {
    vertical-align: middle;
    size:90%;
} 

.upward-button {
    position:fixed;
    bottom: 5%;
    right: 10%;
    z-index: 1000;
    display: inline-block;
    background-color:#011d3a;
    color: white;
    text-align:center;
    font-size: 24px;
    width: 50px;
    height: 50px;
    line-height: 40px;
    text-decoration: none;
    border-radius: 50%;
}

.upward-button a{
    color: white;
}
